html, body {
  height: 100%;
  overflow-y: hidden;
}

#filtersButton {
  bottom: 60px;
  left: 10px;
  z-index: 99999;
  text-decoration:none;
}

.noDecoration a {
  text-decoration: none;
}

.absolute {
  position: absolute;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

#appHeader {
  height: 40px;
}

.mapSelectStyle {
  position: absolute;
  bottom: 25px;
  left: 10px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
}

.mapSelectHeader {
  background-color: rgba(53, 55, 58, .7);
  color: #ffffff;
}

.mapSelectHeaderIcon {
  color: #8cc63e;
}

.mapButtonStyle {
  padding: 6px 8px;
  color: #fff;
  /*border: solid 1px white;*/
  border-radius: 20px;
  height: 2.15em;
  background-color: rgba(53, 55, 58, .7);
  font-family: 'Muli', sans-serif;
  letter-spacing: 1px;
  /*font-weight: 700;*/
  font-size: 13px;
  text-align: center;
}

.mapButtonStyle:hover {
  background-color: rgba(1, 13, 1, 0.75);
  border: solid 1px rgba(255, 248, 253, 0.63);
  color: #fff;
}

.mapSelectStyle :hover {
  color: #fff;
}

.mapSelectStyle :focus {
  color: #fff;
}

.mapSelectStyle .dropdown-menu {
  background-color: rgba(53, 55, 58, .7) !important;
}

.mapSelectStyle.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  text-align: center;
}

.mapSelectStyle .dropdown-menu {
  background-color: rgba(53, 55, 58, .7) !important;
}

.mapSelectStyle .dropdown-menu > li > a:focus {
  color: #ffcb1f;
}

.mapSelectStyle .dropdown-menu > li > a:hover {
  color: #ffcb1f;
}

.mapSelectStyle .dropdown-menu > li > a > span:hover {
  color: #ffcb1f;
}

.mapSelectStyle .dropdown-menu .popover-title {
  background-color: rgba(53, 55, 58, .7) !important;
}

.mapSelectStyle .dropdown-menu .popover-title .close {
  color: #fff;
  opacity: 0.7;
}

.mapSelectStyle .dropdown-menu > li > a {
  background-color: rgba(53, 55, 58, .7) !important;
  /*font-family: v, Segoe UI, sans-serif;*/
  font-family: 'Muli', sans-serif;
  /*font-weight: 700;*/
  letter-spacing: 1px;
  font-size: 13px;
  text-align: center;
  color: #fff;
}

#main {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.applicationHeader {
  background-color: #102836;
}

.appTitle {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.connectMenuCell {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  float: right;
  padding: 3px 0 0 0;
  height: 100%;
}

#logoContainer {
  border-right: solid 1px White;
}

.fullSized {
  width: 100%;
  height: 100%;
}

.fullHeight {
  height: 100%;
}

.btn {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: inherit;
}

.connectMenuCell {
  border-left: solid 1px White;
}

#logoContainer, #leftHeaderContainer, .appTitleCell {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.appTitleCell {
  height: 100%;
  border-left: solid 1px White;
  text-align: center;
}

.btn-ogsl-icon {
  border: none;
  background-color: #102836;
}

.white {
  color: #fff;
}

.btn-no-border {
  border: none;
  background-color: #102836;
}

.glyphicon-standard {
  font-size: 21px;
}

#mainContent {
  height: calc(100% - 40px);
  overflow: hidden;
  border: solid 1px White;
}

